
body {
    font-family: Arial, sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
}


table, th, td {
    border: 1px solid #DDDDDD;
}


td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(9) {
    background-color: #F7F7F7;
}


th {
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

td:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

td:nth-child(1):nth-child(1) {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
}

td:nth-child(1):nth-child(2) {
    background-color: #1398BE; 
    color: white;
}

td:nth-child(1):nth-child(3) {
    background-color: #eea300; 
    color: white;
}

td:nth-child(1):nth-child(4) {
    background-color: #CCCCCC; 
    color: white;
}

td:nth-child(1):nth-child(5) {
    background-color: #C91B04; 
    color: white;
}


td:nth-child(2) {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}


.pontos {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
}


td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8) {
    font-size: 14px;
    color: #000000;
    font-weight: normal;
    text-align: center;
}


td.legend {
    font-size: 10px;
    color: #000000;
    font-weight: normal;
    text-align: left;
}


td.sigla, td.significado {
    font-size: 10px;
    color: #555555;
    font-weight: bold;
    text-align: left;
}

tr:nth-child(4) td, tr:nth-child(5) td {
    border-bottom: 2px solid #000000; 
}

tr:nth-child(16) td, tr:nth-child(17) td {
    border-bottom: 2px solid #000000; 
}
